<div class="post card">
  <div class="card-header">
  <h2>Create New Post</h2>
    </div>
  <form id="new-post-form" class="card-body">
        <div class="content">
            <div class="form-div">
                <label for="title">Title</label>
                <textarea class="input-sm" type="text" id="title" name="title"></textarea>
            </div>
            <div class="form-div">
                <label for="post-body">Content</label>
                <textarea name="post-body" id="post-body"></textarea>
            </div>
            <div>
                <button type="submit" class="btn">Create</button>
            </div>
        </div>
  </form>
</section>
<script src="/javascript/add-post.js"></script>
