{{#if loggedIn}}
  </section>
  <h2 class="section-title:">Create New Posts</h2>
             <button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>
</section>
{{#if posts.length}}
<section>
  <h2 class="section-title">Your Posts</h2>
  <ul class="post-ol">
    {{#each posts as |post|}}
        <div class="single-post">
            <div>
            {{> post-info post}}
            </div>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </div>
    
    {{/each}}
  </ul>

{{/if}}
<script src="/javascript/add-post.js"></script>
{{/if}}

