{{#if loggedIn}}
  <button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>
{{#if posts.length}}
<section>
  <h2 class="section-title">Your Posts</h2>
  <ol class="post-ol">
    {{#each posts as |post|}}
    <li class="poster">
        <div class="single-post">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
{{/if}}
