<article class="post-list">

    {{#each posts as |post| }}
    
    {{> post-info post}}
    {{> comments post.comments}}
    <br>
    <h6>log in and click post title to add a comment</h6>
    <br>
    {{else}}
<h3 >there are currently no posts</h3>
{{/each}}
</article>