<article class="post-list">

    {{#each posts as |post| }}
    
    {{> post-info post}}
    {{> comments post.comments}}
    
    {{else}}
<h3 >there are currently no posts</h3>
{{/each}}
</article>