<div class="card">
    <h3 class="card-header" >Login</h3>
    <form id="login-form" class="card-body">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" id="username-login" class="form-input" />
      
        <label for="password-login" class="form-label">Password</label>
        <input type="password" id="password-login" autofocus="true" class="form-input" />
      
      <button type="submit" id="signup-btn" class="btn" >Login!</button>
      <a class="login-link" href="/login">Sign up instead</a>
    </form>
</div>

<script src="/javascript/login.js"></script>